<div class="flex">

    <div class="container">
        <!-- Menu buttons -->
        <div class="container-border">
            <div class="align">
                <h5>Menu</h5>
                <mat-icon class="purple-color">keyboard_arrow_left</mat-icon>
            </div>
            <a (click)="selected = inbox" class="btn-menu">
                <mat-icon class="icon-menu">move_to_inbox_</mat-icon>
                <span>Inbox</span>
                <span class="badge">{{inbox.length}}</span>
            </a>
            <a (click)="selected = draft" class="btn-menu">
                <mat-icon class="icon-menu">file_copy</mat-icon>
                <span>Drafts</span>
                <span class="badge">{{draft.length}}</span>
            </a>
            <a (click)="selected = sent" class="btn-menu">
                <mat-icon class="icon-menu">near_me</mat-icon>
                <span>Sent</span>
                <span class="badge">{{sent.length}}</span>
            </a>
            <a (click)="selected = spam"  class="btn-menu">
                <mat-icon class="icon-menu">block</mat-icon>
                <span>Spam</span>
                <span class="badge">{{spam.length}}</span>
            </a>
            <a (click)="selected = deleted"  class="btn-menu">
                <mat-icon class="icon-menu">delete_outline</mat-icon>
                <span>Deleted</span>
                <span class="badge">{{deleted.length}}</span>
            </a>
            <button mat-button id="btn-new-message">New message</button>
        </div>
        <!-- Contacts list -->
        <div class="container-border">
            <div class="align">
                <h5>Contacts</h5>
                <div class="flex">
                    <h6>Status: All</h6>
                    <mat-icon class="purple-color font-16">keyboard_arrow_down</mat-icon>
                </div>
            </div>
            <div class="align" *ngFor="let name of contacts;let i = index">
                <div class="flex">
                    <div class="letterIcon" *ngIf="!contactsIcons[i]">
                        <p>{{name.substring(0,1)}}</p>
                    </div>
                    <img *ngIf="contactsIcons[i]" class="image" src="{{contactsIcons[i]}}"/>
                    <h5>{{name}}</h5>
                </div>
                <mat-icon class="bubble-icon">chat_bubble_outline</mat-icon>
            </div>
            <button mat-button id="btn-all-contacts">All Contacts</button>
        </div>

    </div>
    <!-- Email list component -->
    <app-email-list [listaEmails]="selected" [searchFilter]="searchFilter"></app-email-list>

</div>
