<div class="flex">

    <div class="container">
        <!-- Header -->
        <div  class="div-top">
            <h4 class="inline">Recent emails</h4>
            <span style="margin-right: 15px;">
                <label class="lbl">Team emails only</label>
                <mat-slide-toggle color="primary"></mat-slide-toggle>
            </span>
        </div>
        <!-- Email list -->
        <div class="div-email-list">
            <a [ngClass]="emailSelecionado==email?'card-selected':'card'" (click)="selectEmail(email)"
            *ngFor="let email of listaEmails | filterTitle: searchFilter">
                <div class="align">
                    <span class="date">{{email.timestamp | date: 'mm-dd-yyyy'}}</span>
                    <h6>@netguru</h6>
                </div>
                <h4>{{email.title}}</h4>
                <p class="email-body">{{email.body}}</p>
                <div class="email-header">
                    <div class="flex">
                        <div class="letterIcon" *ngIf="!email.from.avatar">
                            <p>{{email.from.name.substring(0,1)}}</p>
                        </div>
                        <img *ngIf="email.from.avatar" class="image" src="{{email.from.avatar}}"/>
                        <h5>{{email.from.name}}</h5>
                    </div>
                    <div class="div-icons">
                        <div style="display: flex;width: 14px;" *ngIf="email.attachments.length > 0">
                            <p style="margin: auto;">{{email.attachments.length}}</p>
                        </div>
                        <mat-icon *ngIf="email.attachments.length > 0" class="attach">attach_file</mat-icon>
                        <mat-icon *ngIf="email.favorite" class="starred">star</mat-icon>
                        <mat-icon *ngIf="!email.favorite" style="color: #787993;" class="starred">star_outlined</mat-icon>
                    </div>
                </div>
            </a>
        </div>

    </div>
    <!-- Email Component -->
    <app-email [email]="emailSelecionado"></app-email>

</div>
